.vscode/**
.vscode-test/**
node_modules/**
client/node_modules/**
server/node_modules/.bin/**
server/node_modules/.cache/**
client/src/test/**
server/tests/**
server/src/**
client/src/**
**/*.ts
**/*.map
**/.DS_Store
*.vsix
.gitignore
eslint.config.mjs
tsconfig.json
README_lidiaa.md
test-cases.md
install.sh
