.vscode/**
.vscode-test/**
.github/**
node_modules/**
client/node_modules/**
server/node_modules/.bin/**
server/node_modules/.cache/**
client/src/test/**
server/tests/**
server/src/**
client/src/**
scripts/**
**/*.ts
**/*.map
**/.DS_Store
*.vsix
.gitignore
eslint.config.mjs
tsconfig.json
README_lidiaa.md
test-cases.md
install.sh
.vscode-test.mjs
client/.vscode-test.mjs
client/esbuild.js
client/tsconfig.json
client/package-lock.json
client/.vscode-test-dummy/**
client/test-harness/**
server/esbuild.mjs
server/jest.config.mjs
server/tsconfig.json
server/package-lock.json

**/node_modules/**/test/**
**/node_modules/**/tests/**
**/node_modules/**/*.test.js
**/node_modules/**/.github/**
server/node_modules/typescript/bin/**
